* {
    margin: 0;
    padding: 0;
}

*::after ,
::before {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Global Layout */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#header {
    background-color: #35424a;
    color: antiquewhite;
    min-height: 70px;
    padding-top: 30px;
    border-bottom: #3c8bf3 3px solid;
}

#header a {
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}

#header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

#header #branding {
    float: left;
}

#header #branding h1 {
    margin-top: 10px;
}

#header nav {
    float: right;
    margin-top: 10px;
}

#header .hightlight, #header .current a {
    color: #3c8bf3;
    font-weight: bold;
}

#showcase {
    min-height: 400px;
    background-image: url('../IMG/Orang\ Ngetik.jpeg');
    text-align: center;
    color: #ffff;
    background-size: cover;
    background-attachment: fixed;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 56px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

/* #ab {
    background-size: cover;
    text-align: center;
} */

#newsletter {
    padding: 15px;
    color: #ffff;
    background: #35424a;
}

/* #newsletter h1 {
    float: left;
    margin-top: 15px;
}

#newsletter form {
    float: right;
    margin-top: 15px;
} */

.alignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* #newsletter input [type="password"]{
    padding: 4px;
    height: 25px;
    width: 250px;
} */

.button_1 {
    height: 38px;
    background: #3c8bf3;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffff;
    cursor: pointer;
}

/* .button_2 {
    height: 38px;
    background: #3c8bf3;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffff;
} */

/* Bagian Boxes */

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
}

/* #footer {
    background-color: #35424a;
    color: white;
    min-height: 47px;
    padding-top: 30px;
    text-align: right;
    padding-right: 40px;
    /* border-bottom: #3c8bf3 3px solid;
} */

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffff;
    background-color: #3c8bf3;
    text-align: center;
}

#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

#main-col{
    float: left;
    width: 65%;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: #ffff;
    margin-top: 10px;
    margin-bottom: 10px;
}